.container {
    .fonte-global {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        color: #858585;
    }
    .cabecalho-title {
        margin-bottom: 32px;
        color: #000000;
        @media screen and (max-width: 872px) {
            max-width: 332px;
            width: 100%;
            margin: 32px auto;
        }
    }
    .item-inputs {
        max-width: 721px;
        width: 100%;
        height: 284px;
        @media screen and(max-width: 872px) {
            display: flex;
            flex-direction: column;
            margin: 0 auto;
            max-width: 343px;
            width: 100%;
            height: 500px;
            max-width: 343px;
            width: 100%;
        }
        .item-inputs-wrapper {
            .item-input-container-inputs {
                display: flex;
                gap: 16px;
                @media screen and(max-width: 872px) {
                    display: flex;
                    flex-direction: column;
                }
                .div-img {
                    display: block;
                    max-width: 288px;
                    width: 100%;
                    height: 212px;
                    border: 2px solid #E5E5E5;
                    border-radius: 8px;
                    cursor: pointer;
                    position: relative;
                    &::before {
                        content: 'imagem';
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%, -50%);
                    }
                    &:hover {
                        text-decoration: underline
                    }
                    .img-imagem {
                        display: none;
                        width: 100%;
                        height: 100%;
                        z-index: 2;
                        position: relative;
                        &.active {
                            display: block;
                        }
                    }
                    .item-input-image {
                        display: none;
                    }
                }
                .item-inputs-direita {
                    margin-bottom: 16px;
                    .item-input-title {
                        max-width: 328px;
                        width: 100%;
                        height: 56px;
                        margin-bottom: 16px;
                        padding-left: 10px;
                        @media screen and(max-width: 872px) {
                            max-width: 343px;
                            width: 100%;
                        }
                        &::placeholder {
                            padding-left: 6px;
                            opacity: 1;
                        }
                    }
                    .item-input-description {
                        max-width: 417px;
                        width: 100%;
                        height: 136px;
                        padding-top: 10px;
                        padding-left: 10px;
                        resize: none;
                        @media screen and(max-width: 872px) {
                            max-width: 343px;
                            width: 100%;
                            height: 136px;
                        }
                        &::placeholder {
                            font-size: 16px;
                            opacity: 1;
                            padding: 36px 0 0 9px;
                        }
                    }
                }
            }
            .item-button {
                display: flex;
                justify-content: flex-end;
                .item-input-button {
                    max-width: 122px;
                    width: 100%;
                    height: 56px;
                    font-size: 16px;
                    color: white;
                    background: #FF5A5F;
                    border: 1px solid #FF5A5F;
                    border-radius: 8px;
                    transition: .5s;
                    &:hover {
                        background: #973437;
                    }
                    &:active {
                        background: #701b1e;
                    }
                    @media screen and(max-width: 872px) {
                        max-width: 343px;
                        width: 100%;
                        height: 56px;
                    }
                }
            }
        }
    }
}