* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.container {
    max-width: 1176px;
    width: calc(100% - 200px);
    margin: 60px auto;
    @media screen and (max-width: 872px) {
        max-width: 342px;
        margin: 68px auto;
        width: calc(100% - 32px);
    }
}

body {
    font-family: 'Roboto', sans-serif;
    color: #858585;
}

h1,
h2,
h3 {
    font-family: 'Poppins';
    font-size: 32px;
    color: #000000;
}

input,
img,
textarea {
    border: 2px solid #E5E5E5;
    border-radius: 8px;
}

button {
    font-family: 'Poppins', sans-serif;
}