.tourist-result {
    margin-top: 60px;
    margin-bottom: 32px;
    .tourist-result-head {
        color: #000000;
        @media screen and(max-width: 872px) {
            max-width: 284px;
            width: 100%;
            margin: 0 auto;
        }
    }
    .tourist-spots {
        display: grid;
        grid-template-columns: 1fr 1fr;
        margin-top: 32px;
        max-width: 1176px;
        gap: 16px 24px;
        width: 100%;
        @media screen and(max-width: 1024px) {
            grid-template-columns: 1fr 1fr;
            gap: 24px;
        }
        @media screen and(max-width: 872px) {
            grid-template-columns: 1fr;
        }
        .tourist-spots-results {
            display: flex;
            align-items: center;
            background: #FFFFFF;
            border-radius: 8px;
            max-width: 576px;
            width: 100%;
            box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.08);
            @media screen and(max-width: 1024px) {
                flex-direction: column;
                max-width: 343px;
                width: 100%;
                height: unset;
            }
            .tourist-spost-image-content {
                display: flex;
                height: 100%;
                .tourist-spots-image {
                    max-width: 288px;
                    width: 100%;
                    border: none;
                    @media screen and(max-width: 1024px) {
                        max-width: 343px;
                        width: 100%;
                    }
                }
            }
            .tourist-spots-content {
                display: flex;
                flex-direction: column;
                align-items: center;
                max-width: 288px;
                width: 100%;
                padding: 24px;
                .tourist-spots-title {
                    font-size: 24px;
                    height: 60px;
                    max-width: 240px;
                    color: #333333;
                    width: 100%;
                    margin-bottom: 8px;
                }
                .tourist-spots-description {
                    max-width: 240px;
                    width: 100%;
                    height: 96px;
                    overflow: auto;
                }
            }
        }
    }
}